%li.nav-item.dropdown
  %a#teacherDropdown.nav-link.dropdown-toggle{ "aria-expanded" => "false", "aria-haspopup" => "true",
                                               "data-toggle" => "dropdown", :href => "#", :role => "button" }
    .fa.fa-chalkboard-teacher
    Teacher
  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "teacherDropdown"}
    = link_to new_course_path, class: "dropdown-item" do
      .fa.fa-plus
      New course

    = link_to created_courses_path, class: "dropdown-item" do
      .fa.fa-graduation-cap
      My courses
      .badge.badge-info
        = current_user.courses_count

    = link_to my_students_enrollments_path, class: "dropdown-item" do
      .fa.fa-user-graduate
      My students
      .badge.badge-info
        = Enrollment.joins(:course).where(courses: { user: current_user }).count
