.card
  .card-header
    .fa.fa-user
    = user.email
  .card-footer
    Signed up
    = time_ago_in_words(user.created_at)
    ago
  .card-footer
    sing in count
    = user.sign_in_count
    .row
    current sign in at
    = user.current_sign_in_at
    .row
    last sign in at
    = user.last_sign_in_at
    .row
    current sign in ip
    = user.current_sign_in_ip
    .row
    last sign in ip
    = user.last_sign_in_ip