- content_for :title do
  All Users
  \|
  Udem

%h1
  Users
  .badge.badge-info
    = @users.count

/.card-columns.pt-4.mb-4
/  - @users.each do |user|
/    = render "users/user", user: user

.mb-2.pt-4
  = search_form_for @q do |f|
    = f.search_field :email_cont, placeholder: "by email"
    = f.submit
    = link_to users_path, class: "btn btn-sm" do
      .fa.fa-sync

.table-responsive
  %table.table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th= sort_link(@q, :id)
        %th= sort_link(@q, :email)
        %th= sort_link(@q, :created_at)
        %th= "Sign in count"
        %th= "Confirmed"
        %th= "Current sign"
        %th= "Last sign"
        %th= "Current ip"
        %th= "Last ip"
        %th= sort_link(@q, :courses_count)
        %th= sort_link(@q, :enrollments_count)
        %th= sort_link(@q, :user_lessons_count)
        %th= "Roles"
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td
            - if user.online?
              .text-success.fa.fa-circle
            = link_to user.email, user_path(user)
          %td= user.created_at.strftime("%e %B %Y, %H:%M")
          %td= user.sign_in_count
          %td
            - if user.confirmed_at.present?
              .badge.badge-info Yes
            - else
              .badge.badge-info No
          %td= user.current_sign_in_at.strftime("%e %B %Y, %H:%M")
          %td= user.last_sign_in_at.strftime("%e %B %Y, %H:%M")
          %td= user.current_sign_in_ip
          %td= user.last_sign_in_ip
          %td= user.courses_count
          %td= user.enrollments_count
          %td= user.user_lessons_count
          %td
            - user.roles.each do |role|
              .badge.badge-info.d-block.mb-2
                = role.name
            - if policy(user).edit?
              = link_to "Edit roles", edit_user_path(user), class: "d-block btn btn-sm btn-warning"

!= pagy_bootstrap_nav(@pagy)
