.card.mb-2
  .card-header
    .fa.fa-user
    = link_to comment.user.username, user_path(comment.user), class: "mr-4"

    .fa.fa-clock
    - if comment.created_at > 1.day.ago
      %span.mr-4= "#{time_ago_in_words(comment.created_at)} ago"
    - else
      %span.mr-4= comment.created_at.strftime("%e %B %Y, %H:%M")

  .card-body
    = comment.content

  - if policy(comment).destroy?
    .card-footer
      = link_to "Delete", [@course, @lesson, comment], method: :delete, data: { confirm: "Are you sure?" },
        class: "btn btn-sm btn-danger"
