.card
  .card-header
    .fa.fa-user
    = link_to enrollment.user.username, user_path(enrollment.user), class: "mr-4"
    .fa.fa-clock
    %span.mr-4= "#{time_ago_in_words(enrollment.updated_at)} ago"
    .fa.fa-graduation-cap
    = link_to enrollment.course.title, course_path(enrollment.course)

  .card-body
    .text-warning.fa.fa-star
    %b= enrollment.rating
    %br
    .fa.fa-comment
    = enrollment.review

  - if current_user
    .card-footer
      - if policy(enrollment).edit?
        = link_to "Edit Review", edit_enrollment_path(enrollment), class: "card-link"
