- content_for :title do
  Enrollments
  \|
  Udem

%h1
  Enrollments
  .badge.badge-info
    = Enrollment.count

.table-responsive
  %table.table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th Course
        %th User
        %th Rating
        %th Review
        %th Price
        %th
        %th
        %th

    %tbody
      - @enrollments.each do |enrollment|
        %tr
          %td= enrollment.course.title
          %td= enrollment.user.email
          %td= enrollment.rating
          %td= enrollment.review
          %td= number_to_currency(enrollment.price, locale: :en, precision: 0, delimiter: " ")
          %td= link_to 'Show', enrollment
          %td= link_to 'Edit', edit_enrollment_path(enrollment)
          %td= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' }
