- content_for :title do
  Enrollments
  \|
  Udem

%h1
  Enrollments
  .badge.badge-info
    = Enrollment.count

.table-responsive
  %table.table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th ID
        %th User
        %th Bought
        %th Course
        %th Price
        %th Reviewed on
        %th Rating
        %th Review
        %th
        %th
        %th

    %tbody
      - @enrollments.each do |enrollment|
        %tr
          %td= enrollment.id
          %td= link_to enrollment.user.email, user_path(enrollment.user)
          %td= enrollment.created_at.strftime("%e %B %Y, %H:%M")
          %td= link_to enrollment.course.title, course_path(enrollment.course)
          %td= number_to_currency(enrollment.price, locale: :en, precision: 0, delimiter: " ")
          %td
            - if enrollment.rating.present?
              = enrollment.updated_at.strftime("%e %B %Y, %H:%M")
          %td= enrollment.rating
          %td= truncate(enrollment.review, length: 7)
          %td= link_to 'See Review', enrollment
          %td= link_to 'Add Review', edit_enrollment_path(enrollment)
          %td= link_to 'Delete Enrollments', enrollment, method: :delete, data: { confirm: 'Are you sure?' }
