- content_for :title do
  Buy course
  \|
  Udem

%nav.mb-4{"aria-label" => "breadcrumb"}
  %ol.breadcrumb.mb-0
    %li.breadcrumb-item
      = link_to "Courses", courses_path

    %li.breadcrumb-item
      = link_to @course.title, course_path(@course)

    %li.breadcrumb-item.active{"aria-current" => "page"}
      Buy

.card
  .card-header
    %h1
      Buy course
      = link_to @course.title, course_path(@course)
      = number_to_currency @course.price

  .card-body
    - if @course.price > 0
      = form_tag course_enrollments_path(@course) do
        %script.stripe-button{"data-amount" => "#{(@course.price * 100).to_i}",
                              "data-description" => "#{@course.title} (#{number_to_currency @course.price})",
                              "data-email" => "#{current_user.email}",
                              "data-key" => Rails.application.credentials.dig(:stripe_publishable_key),
                              "data-locale" => "auto",
                              :src => "https://checkout.stripe.com/checkout.js"}
    - else
      = form_tag course_enrollments_path(@course) do
        = submit_tag "Enroll for free",
                    class: "btn btn-lg btn-success"

  .card-footer
    = link_to 'Back to course', course_path(@course), class: "card-link"
