- if lesson.viewed?(current_user)
  .text-success.far.fa-check-square
- else
  .text-secondary.far.fa-square

= link_to course_lesson_path(@course, lesson) do
  = lesson.row_order_rank + 1
  \-
  = lesson.title

.float-right
  .fa.fa-comment
  = lesson.comments_count

  - if policy(lesson).edit?
    .fa.fa-eye
    All:
    = lesson.user_lessons.map(&:impression).sum
    Uniq:
    = lesson.user_lessons.count

  - if policy(lesson).edit?
    .float-right.ml-2
      = link_to edit_course_lesson_path(@course, lesson), class: "btn btn-sm btn-outline-info mr-1" do
        .fas.fa-pen
      = link_to course_lesson_path(@course, lesson), method: :delete, data: { confirm: "You are sure?" },
        class: "btn btn-sm btn-outline-danger" do
        .fas.fa-trash
