- content_for :title do
  = @lesson.course.title
  \|
  = @lesson.title
  \|
  Udem

%nav.mb-4{"aria-label" => "breadcrumb"}
  %ol.breadcrumb.mb-0
    %li.breadcrumb-item
      = link_to "Courses", course_path(@lesson.course)

    %li.breadcrumb-item
      = link_to @lesson.course.title, course_path(@lesson.course)

    %li.breadcrumb-item.active{"aria-current" => "page"}
      = @lesson.title

.row
  .col-lg-8
    = render "lessons/lesson", lesson: @lesson

    .mt-5
      %h3
        .fa.fa-comment
        Comments
      - @comments.each do |comment|
        = render "lessons/comments/comment", comment: comment

      .mt-3
        = render "lessons/comments/form"

  .col-lg-4
    .lesson-lessons-list-header.mb-2
      .h5.d-inline
        Lessons

      .float-right
        %small
          completed:
          = number_to_percentage(@course.progress(current_user), precision: 0)

    %ul.list-group
      - @lessons.each do |lesson|
        - if lesson == @lesson
          %li.list-group-item.list-group-item-success
            = render "lessons/lesson_preview", lesson: lesson
        - else
          %li.list-group-item
            = render "lessons/lesson_preview", lesson: lesson

%br
= link_to 'Back to Course', course_path(@course), class: "btn btn-outline-primary mt-2"
