-# frozen_string_literal: true
= simple_form_for(@course) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.input :short_description
    = f.label :description
    = f.rich_text_area :description
    %small= f.error :description, class: "text-danger"
    = f.input :language, collection: %w(English Russian), include_blank: false
    = f.input :level, collection: %w(Beginner Intermediate Advanced), include_blank: false
    = f.input :price

  .form-actions
    = f.button :submit
