- content_for :title do
  = @course.title
  \- Analytics
  \|
  Udem

%nav.mb-4{"aria-label" => "breadcrumb"}
  %ol.breadcrumb.mb-0
    %li.breadcrumb-item
      = link_to "Courses", courses_path

    %li.breadcrumb-item
      = link_to @course.title, course_path(@course)

    %li.breadcrumb-item.active{"aria-current" => "page"}
      Analytics

%h1
  Analytics for
  = @course.title

.pt-4
  .chart.mb-5
    %h3
      Byes per day
    = line_chart @course.enrollments.group_by_day(:created_at).count

  .chart.mb-5
    %h3
      Money per day
    = line_chart @course.enrollments.group_by_day(:created_at).sum(:price)

  .chart.mb-5
    %h3
      How many time lessons was opened
    = bar_chart @course.user_lessons.joins(:lesson).group(:"lessons.title").sum(:impression)

  .chart.mb-5
    %h3
      How many time lessons was opened by uniq users
    = bar_chart @course.user_lessons.joins(:lesson).group(:"lessons.title").count