%nav.mb-4{"aria-label" => "breadcrumb"}
  %ol.breadcrumb.mb-0
    %li.breadcrumb-item
      = link_to "Courses", courses_path

    %li.breadcrumb-item
      = link_to @course.title, course_path(@course)

    %li.breadcrumb-item.active{"aria-current" => "page"}
      Edit course

.card
  .card-header
    %h1 Editing course

  .card-body
    = render 'form'

  .card-footer
    = link_to 'Show course', @course, class: "card-link"
    = link_to 'All Courses', courses_path, class: "card-link"
