%nav.mb-4{"aria-label" => "breadcrumb"}
  %ol.breadcrumb.mb-0
    %li.breadcrumb-item
      = link_to "Courses", courses_path

    %li.breadcrumb-item.active{"aria-current" => "page"}
      = @course.title

.row
  .col-lg-6
    = render "courses/course", course: @course
  .col-lg-6
    = link_to "Add Lesson", new_course_lesson_path(@course), class: "mt-2 btn btn-primary btn-sm text-center btn-block"

    - if @lessons
      - @lessons.each do |lesson|
        = render "lessons/lesson", lesson: lesson