%nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-4
  = link_to "Course App", root_path, class: "navbar-brand"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    - if current_user
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to root_path, class: "nav-link" do
            .fa.fa-home
            Home

        %li.nav-item
          = link_to courses_path, class: "nav-link" do
            .fa.fa-graduation-cap
            Courses

        %li.nav-item
          = link_to new_course_path, class: "nav-link" do
            .fa.fa-plus
            New course

        %li.nav-item
          = link_to users_path, class: "nav-link" do
            .fa.fa-user
            Users

        %li.nav-item
          = link_to home_activity_path, class: "nav-link" do
            .fa.fa-bell
            Activity

        = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
          .input-group
            = f.search_field :title_or_short_description_cont, class: "form-control-sm"
            %span.input-group-append
              %button.btn.btn-primary.btn-sm{type: "submit"}
                %span.fa.fa-search{"aria-hidden" => "true"}

        -# = form_tag(courses_path, method: :get, class: "form-inline my-2 my-lg-0") do
        -#   = text_field_tag :title, params[:title], autocomplete: "off", placeholder: "Search", class: "form-control mr-sm-2"
        -#   %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search

        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}= current_user.email
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            = link_to "Account settings", edit_user_registration_path, class: "dropdown-item"
            = link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item"

    - else
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          = link_to "Sign in", new_user_registration_path, class: "nav-link"

        %li.nav-item.active
          = link_to "Log in", new_user_session_path, class: "nav-link"